@media (max-width:900px){
    #page-home{
        background-position-x: 70vw;
    }
    #page-home .content{
        align-items: center;
        text-align: center;
    }

    #page-home main h1 {
        font-size: 40px;
        
    }

    #page-home .content header a {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
    }


    #page-home main {
        align-items: center;
    }

    #page-home main p {
        font-size: 20px;
        line-height: 38px;
        margin-top: 24px;
    }

    #page-search-results .cards{
        grid-template-columns: 1fr;
        
    }

    main .card img {
        height: 200px;
    }
}

@media (min-width:1700px){
    #page-home{
        background-position-x: 40vw;
    }
}

@media (max-height: 960px){
    #page-home{
        background-position-y: 200px;
    }
}

